@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

@import "./home";
@import "./about";
@import "./media";
@import "./skill";


$primary: #74205e;

$theme: (
  primary: $primary
);

:root {
  --x-primiary: $primary;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  * {
    box-sizing: border-box;
  }
}

@include home($theme);
@include about($theme);
@include skills($theme);

section {
  @include page-pad-x();
  @include page-pad-y();

  &.--light {
    background-color: #f3f3f3;
    color: #202124;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  &-title {
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: #202124;
  }
}


#footer {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202124;
  color: #f3f3f3;
}